<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>User Groups</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Grupa</h1>

<a href="#" onclick="window.location.href = window.location.href + '/admin/info'; return false;">
    info</a>
<a href="#" onclick="window.location.href = window.location.href + '/admin/chats'; return false;">
    chat</a>
<a href="#" onclick="window.location.href = window.location.href + '/messages'; return false;">
    messages</a>
<a href="#" onclick="window.location.href = window.location.href + '/files'; return false;">
    files</a>
</body>
</html>
