<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Tasków</title>
</head>
<body>
<h1>Lista Tasków</h1>
<table>
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Data</th>
        <th>Użytkownik</th>
        <th>Opis</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.date}"></td>
        <td th:text="${task.user}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
