.calendar {
    display: flex; /* Używamy Flexbox */
    flex-direction: column; /* Układ kolumnowy dla całości */
    gap: 2px;
    background: linear-gradient(
        to bottom,
        rgba(35, 35, 39, 0.11),
        rgba(35, 35, 39, 0.3),
        rgba(78, 78, 100, 0.877)
    );
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    position: relative;
}    

.calendar:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
    border-color: #6E6E72;
}

.calendar.small{
    width: 600px; 
    height: 44vh;
}

.calendar.full{
    width: 1220px;
    height: 44vh;
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start; 
    flex-grow: 1;
    text-align:left; /* Wyśrodkowanie tekstu tytułu */
    font-family: 'Arial', sans-serif; /* Ustawienie czcionki */
    color: #d0d0d0; /* Kolor tekstu */
}

.calendar-title h2 {
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    text-align: left;
    flex-grow: 1; 
}

.calendar-options {
    display: flex;
    align-items: center;  
    cursor: pointer; 
}

.calendar-options img {
    width: 18px;
    height: 18px;
}

.calendar-options img:hover{
    transform: scale(1.2);
    opacity: 0.8;
    transition: transform 0.2s ease; 
}

.hidden {
    display: none;
}

#calendar-options-menu {
    position: absolute; /* Pozycjonowanie względem rodzica .calendar */
    top: 50px; /* Wysokość od góry */
    transform: translateX(-3%);
    width: 240px; /* Szerokość menu */
    background-color: #232222; /* Tło menu */
    border: 1px solid #424244; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglenie */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Cień dla lepszego wyglądu */
    z-index: 10;
}

#calendar-options-menu ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

.resize-option {
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    color: #d0d0d0; 
    padding: 8px 20px; 
    cursor: pointer;  
    display: block;  
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.resize-option:hover {
    background-color: #f0f0f0; 
    color: #232222; 
}

/*widget*/

.navigation {
    display: flex; 
    align-items: center; 
}

.button {
    margin-left: 10px;
    border: none; 
    background: none; 
    cursor: pointer; 
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
}


#btn-today {
    border: 1px solid #424244;
    padding: 8px 10px;
    font-size: 12px; 
    background-color: transparent; 
    border-radius: 5px; 
    color: #f5f4f3; 
}


#btn-prev img,
#btn-next img {
    padding: 0; 
    background: none; 
    border: none; 
    width: 20px; 
    height: auto; 
    display: block; 
}

.calendar-table {
    background: linear-gradient(to bottom, rgba(35, 35, 39, 0.3) , rgba(78, 78, 100, 0.877) );
    table-layout: fixed; /* Ustaw stały układ tabeli */
    width: 100%;
    margin: 0; 
    font-family: Arial, sans-serif;
    text-align: center;
    border-spacing: 0; /* Ustawienie odstępów między komórkami na 0 */
    border-radius: 10px;

}

.calendar-table th,
.calendar-table td {
    padding: 2px; /* Zmniejszenie wewnętrznych odstępów */
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent; /* Opcjonalnie: dodaj delikatne linie siatki */
}

.calendar-table-header th {
    width: calc(100% / 7); /* Zapewnia równą szerokość kolumn */
    font-weight: bold;
    font-size: 15px;
    color: #d0d0d0;
}

.calendar-table tbody td {
    width: calc(100% / 7); /* Każda komórka zajmuje równą część tabeli */
    height: 45.25px;
    padding: 2px; /* Zmniejszenie odstępu wewnętrznego */
    font-size: 14px;
    color: #e0e0e0;
}

.date{
    display: flex;
    align-items: center; /* Wyrównanie w pionie z nawigacją */
    font-family: 'Arial', sans-serif; /* Dostosowanie czcionki */
    color: #d0d0d0; /* Kolor tekstu */
    font-size: 14px;
    font-weight: bold;
}

.date h2{
    color: #f5f4f3;
    font-size: 16px;
    font-weight: 500;
}

.header-bottom {
    display: flex; /* Ustawia elementy w jednej linii */
    align-items: center; /* Wyrównanie elementów w pionie */
    gap: 2px; /* Odstęp między nawigacją a datą */
    width: 100%;
    position: sticky; 
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-bottom: 40px;

}

tbody td.other-month {
    color: #999;
}


