body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/ai.jpg");
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.content {
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Verdana', sans-serif; /* Adjust the font-family */
    font-size: 40px; /* Adjust the font size */
}

a {
    text-decoration: none;
    font-size: 30px;
    padding: 10px 20px;
    border: 1px solid #3E6464FF;
    border-radius: 4px;
    margin-top: 20px;
    background-color: #3E6464FF;
    color: #fff;
}

a:hover {
    background-color: white;
    color: #3E6464FF;
}