.layout {
    display: flex;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative; 
}

.add-project-section {
    width: 80vw;
    display: flex;
    justify-content:flex-end; /* Ustawia przycisk po prawej stronie */
    align-items: center; /* Wyrównuje elementy w pionie, jeśli to konieczne */
    padding-top: 10px;
    margin-bottom: 15px;
}

.add-project {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #d0d0d0;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    border: 1px solid #424244;
    padding: 5px 10px; /* Mniejsze wewnętrzne marginesy */
    font-size: 12px; /* Mniejszy rozmiar czcionki */
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-project:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
    border-color: #6E6E72;
}

.add-project img.icon {
    width: 14px; /* Szerokość obrazka */
    height: 14px; /* Wysokość obrazka */
    margin-right: 5px; /* Odstęp między obrazkiem a tekstem */
    vertical-align: middle;
}

.add-project span {
    display: inline-block; /* Zapewnienie, że tekst jest traktowany jako blok w Flexbox */
    vertical-align: middle; /* Dodatkowe wyrównanie tekstu w pionie */
}

.project-list {
    flex: 1;
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: flex-start;  /* Wyśrodkowanie pionowe, jeśli potrzebne */
    gap: 18px; /* Odstęp między elementami */
    margin: 0 auto; /* Opcjonalne, aby kontener był wyśrodkowany */
    flex-wrap: wrap; /* Aby elementy przechodziły do nowego wiersza, jeśli nie mieszczą się w jednej linii */
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.project-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-list-title h2 {
    margin: 0;
}

.project-list-options {
    display: flex;
    align-items: center;  
}

.project-list-options img {
    width: 18px;
    height: 18px;
}

.projects-in-progress, .pending-projects, .completed-projects, .at-risk-projects{
    display: flex; /* Włącz Flexbox */
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    justify-content: flex-start; /* Wyrównanie do góry */
    gap: 2px;
    background-color: rgb(35, 35, 39); /* Tło sekcji członków */
    padding: 10px;
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    width: 300px;
    max-height:75vh;
    height:auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.projects-in-progress h2{
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    padding: 10px;
    text-align: left;
    flex-grow: 1; 
}

.project-scrollable {
    max-height: 100%; 
    width: 274px;
    overflow: hidden;
    transition: overflow 0.3s ease;
}

.projects-in-progress:hover .project-scrollable {
    overflow-y: auto; /* Włączenie przewijania pionowego po najechaniu */
}

.project-scrollable::-webkit-scrollbar {
    width: 7px; 
}

.project-scrollable::-webkit-scrollbar-track {
    margin: 0.1vh; 
}

.project-scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(70, 70, 75);
    border-radius: 50px; 
    border: 1px solid rgb(35, 35, 39); 
}

.project-scrollable::-webkit-scrollbar-thumb:hover {
    background-color: rgb(60, 60, 65);
}

.element-container {
    flex-direction: column;
    display: flex; /* Używamy flexbox do rozmieszczania elementów */
    justify-content: center; /* Wyrównuje elementy w poziomie */
    height: auto;
    width: auto;
    position: relative;
}


.element-container, .pending-item, .completed-item, .at-risk-item {
    transition: transform 0.3s ease; 
}

.no-projects{
    text-align: center;
    font-family: 'Arial', sans-serif; /* Ustawienie czcionki */
    color: #b0b0b0; /* Kolor tekstu */
}

.no-projects h2{
    margin: 0;
    font-size: 12px; 
    letter-spacing: 0.5px;
}

.pending-item, .at-risk-item, .completed-item, .in-progress-item{
    display: flex;
    flex-direction: column; /* Ustaw elementy w kolumnie wewnątrz każdego bloku */
    align-items: center; /* Wyśrodkowanie zawartości w pionie */
    text-align: center;
    background-color: hsl(240, 5%, 15%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lekki cień dla estetyki */
    width: 260px; /* Stała szerokość każdego bloku */
    height: auto;
    border: 1px solid #424244;
    margin-bottom: 20px;
    cursor: pointer;
    transition: flex 0.3s ease;
    transition: opacity 0.3s ease;
}

.in-progress-item.fade {
    opacity: 0.6; /* Zmniejszona przezroczystość */
}

.pending-item:hover, 
.at-risk-item:hover, 
.completed-item:hover, 
.in-progress-item:hover {
    background-color: hsl(240, 5%, 18%); /* Subtelna zmiana tła */
    border-color: hsl(240, 5%, 35%); /* Delikatny kontrast bordera */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Silniejszy cień */
    transition: all 0.3s ease; /* Płynne przejście */
}

.pending-item:active, 
.at-risk-item:active, 
.completed-item:active, 
.in-progress-item:active {
    background-color: hsl(240, 5%, 22%); /* Zmiana tła na ciemniejsze */
    border-color: hsl(240, 5%, 40%); /* Subtelny kontrast */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); /* Redukcja cienia */
    transition: all 0.2s ease-out; /* Płynne przejście */
}

.in-progress-item.selected, 
.pending-item.selected, 
.at-risk-item.selected, 
.completed-item.selected {
    background-color: hsl(240, 8%, 18%); /* Subtelnie ciemniejszy kolor tła */
    border-color: hsl(240, 8%, 35%); /* Subtelnie ciemniejszy border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Cień dla wybranego elementu */
    transition: all 0.3s ease; /* Płynne przejście */
}



.pending-projects h2{
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    padding: 10px;
    text-align: left;
    flex-grow: 1; 
}

.completed-projects h2{
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    padding: 10px;
    text-align: left;
    flex-grow: 1; 
}

.at-risk-projects h2{
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    padding: 10px;
    text-align: left;
    flex-grow: 1; 
}


.project-options{
    display: flex; /* Umożliwia łatwe rozmieszczenie zawartości w przyszłości */
    align-items: center; /* Wyrównanie obrazka w pionie */
}

.project-options img{
    width: 16px;
    height: 16px;
}

.project-header{
    display: flex; /* Ustawia elementy w jednej linii */
    justify-content: space-between; /* Opcje projektu po lewej, tytuł po prawej */
    align-items: center; 
    width: 100%;
}
.project-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-grow: 1;
    text-align:left; /* Wyśrodkowanie tekstu tytułu */
    margin-bottom: 2px; /* Odstęp poniżej tytułu */
    font-family: 'Arial', sans-serif; /* Ustawienie czcionki */
    color: #d0d0d0; /* Kolor tekstu */
}

.project-title h2{
    font-size: 14px; 
    font-weight: bold; 
    margin: 0;
}

.description{
    text-align:left; /* Wyśrodkowanie tekstu tytułu */
    margin-bottom: 5px; /* Odstęp poniżej tytułu */
    font-family: 'Arial', sans-serif; /* Ustawienie czcionki */
    color: #b0b0b0; /* Kolor tekstu */
    padding-left: 10px; 
}

.description p{
    font-size: 12px; 
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.activity-summary{
    display: flex; /* Ustawia elementy w jednej linii */
    justify-content: space-between; /* Rozdziela elementy: jeden po lewej, drugi po prawej */
    align-items: center; /* Wyrównuje elementy w pionie */
    width: 100%;
    padding: 10px 0; /* Dodaje odstęp w pionie */
}

.attachment{
    padding-left: 10px;
    display: flex; /* Ustawia elementy w jednej linii */
    align-items: center; /* Wyrównuje elementy w pionie */
    gap: 5px; 
    
}

.attachment img{
    width: 14px;
    height: 14px;

}

.attachment p{
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0;
}

.about-project-participants{
    display: flex;
    align-items: center; 
    position: relative;
}

.about-project-participants-avatars{
    margin-left: 50px;
    display: flex; 
    align-items: center;
}

.about-project-participants img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #424244;
    margin-left: -10px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.about-project-participants img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.about-project-more-participants{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #424244;
    margin-left: -10px;
    font-size: 11px;
    color: #424244;
    background-color: #d0d0d0;
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
}

/*side-info*/


.details-panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    transform: translateX(100%); 
    transition: transform 0.4s ease-in-out;
    
}

.details-panel.active {
    transform: translateX(0);
}

.layout.details-active .project-list {
    margin-right: 300px;
    flex: 0 0 calc(100% - 300px);
    transform: scale(0.96);  
}

.layout.details-active .details-panel {
    transform: none !important; 
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.details-panel.active {
    animation: slideIn 0.5s ease-in-out;
}

.details-panel:not(.active) {
    animation: slideOut 0.4s ease-in-out;
}



.details {
    position: fixed; /* Przypięcie do górnej części okna */
    top: 130px;
    right: 0; /* Lub left: 0, jeśli ma być po lewej stronie */
    width: 300px;
    height: 100vh;
    background: rgb(36, 36, 39);
    border-left: 1px solid #424244;
    margin: 0;
}

.details h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #ffffff;
}

.details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details ul li {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #d0d0d0;
}

.details ul li strong {
    color: #f5f4f3;
}

.close-panel {
    position: absolute; /* Ustawienie pozycji wewnątrz details-panel */
    top: 10px; /* Odległość od górnej krawędzi panelu */
    right: 10px; /* Odległość od prawej krawędzi panelu */
    background-color: transparent; /* Brak tła */
    border: none; /* Usunięcie domyślnej ramki */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    z-index: 100; /* Aby przycisk zawsze był na wierzchu */
    padding: 5px; /* Dodatkowa przestrzeń dla lepszego klikania */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animacja hovera */
}

.close-panel img{
    width: 16px;
    height: 16px;
}

.close-panel img:hover{
    transform: scale(1.2);
    opacity: 0.8;
    transition: transform 0.2s ease; 
}

.pm-avatar img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #424244;
}

.pm-avatar{
    display: flex;
}

.user-container {
    display: flex; /* Ustawia układ w rzędzie */
    flex-wrap: nowrap; /* Zapobiega zawijaniu wierszy */
    gap: 20px; /* Odstęp między użytkownikami */
    align-items: center; /* Wyrównanie w pionie */
    padding-bottom: 10px;
  }

  .manager-container {
    margin-top: 65px;
    padding-left: 20px;
  }

  .pm-info {
    display: flex;
    align-items: center;
    background: rgb(40, 40, 43);
    padding: 10px;
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    width: 260px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pm-info h2{
    color:#f5f4f3;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
  }
  .pm-details {
    padding-top: 10px;
    display: flex;
    flex-direction: column; /* Ustawia h2 nad p */
    justify-content: center; /* Wyrównanie tekstu w pionie */
}
  .position p {
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
    font-size: 11px; 
    color: #b0b0b0;
    font-weight: 500; 
    padding-top: 2px;
}

.created-tasks {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: rgb(40, 40, 43);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #424244;
    width: 260px;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
}

.created-tasks h2{
    font-size: 16px;
    margin: 0;
    padding-right: 30px;
    flex-grow: 1; /* Nagłówek zajmuje maksymalnie dostępne miejsce */
    text-align: left;
    flex-grow: 1; 
}

.completed-tasks{
    display: flex; /* Ustawienie Flexboxa */
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    background: rgb(40, 40, 43);
    padding: 10px;
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    width: 260px;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
}

.completed-tasks h2{
    font-size: 16px;
    margin: 0;
    padding-right: 30px;
    text-align: left;
    flex-grow: 1; 
}

.tasks-in-progress{
    display: flex; /* Ustawienie Flexboxa */
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    background: rgb(40, 40, 43);
    padding: 10px;
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    width: 260px;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
}

.tasks-in-progress h2{
    font-size: 16px;
    margin: 0;
    padding-right: 30px;
    text-align: left;
    flex-grow: 1; 
}

.upcoming-tasks{
    display: flex; /* Ustawienie Flexboxa */
    justify-content: space-between;
    align-items: center; /* Wyrównanie w pionie */
    gap: 2px;
    background: rgb(40, 40, 43);
    padding: 10px;
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    width: 260px;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.upcoming-tasks h2{
    font-size: 16px;
    margin: 0;
    padding-right: 30px;
    text-align: left;
    flex-grow: 1; 
}
 
.project-progress{
    display: flex; /* Wyrównanie h2 i p w tej samej linii */
    flex-direction: column;
    gap: 5px;
    background: rgb(40, 40, 43);
    padding: 10px;
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    width: 260px;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.project-progress h2 {
    margin: 0; /* Usunięcie domyślnego marginesu */
    font-size: 16px;
    color: #f5f4f3;
}

.project-progress p {
    margin: 0; /* Usunięcie domyślnego marginesu */
    font-size: 20px;
    color: #7cebff;
    line-height: 1.5;
    font-weight: 500;
}

.progress-info {
    display: flex;
    justify-content: space-between; /* Wyrównanie tekstu na lewą i prawą stronę */
    align-items: center;/* Wyrównanie tekstu w pionie */
    width: 100%;
}

.project-statistics {
    display: flex; /* Ustawienie Flexboxa */
    flex-direction: column; /* Układ w kolumnie */
    gap: 10px; /* Odstęp między elementami */
    padding-left: 20px;
    padding-top: 20px;
}

.project-statistics h2 {
    font-size: 13px; /* Rozmiar tekstu */
    font-weight: 300;
    color: #f5f4f3; /* Kolor tekstu */
    margin: 0; /* Usuń marginesy */
    font-weight: 400; /* Styl tekstu */
}

.project-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 260px;
    padding-left: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.divider {
    width: 90%;
    border-bottom: 1px solid #353536;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* To ensure the divider is centered within its parent container */
}

.project-details div {
    display: flex; /* Ustawienie wierszowego układu dla h2 i p */
    align-items: center; /* Wyrównanie w pionie */
    gap:5px;
}

.project-details h2{
    letter-spacing: 0.1px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #a0a0a0;
    margin: 0;
    font-weight: bold;
}

.project-details p {
    letter-spacing: 0.1px;
    font-family: Arial, sans-serif;
    margin: 0; /* Usunięcie domyślnego marginesu */
    font-size: 12px;
    color: #c8c8c8;
    font-weight: bold;
}

.created-tasks p, .completed-tasks p, .tasks-in-progress p, .upcoming-tasks p {
    display: flex; /* Ustawienie Flexboxa */
    align-items: center; /* Wyrównanie w pionie */
    gap: 30px; /* Zwiększony odstęp między ikoną a tekstem */
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: #c0c0c0;
    margin: 0; 
    text-align: right;
}

.start-date{
    display: flex; /* Ustawienie Flexboxa */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.deadline{
    display: flex; /* Ustawienie Flexboxa */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px; 
}

.project-status{
    display: flex; /* Ustawienie Flexboxa */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px; 
}

.priority{
    display: flex; /* Ustawienie Flexboxa */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;  
}

.days-left{
    display: flex; /* Ustawienie Flexboxa */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;   
}
.project-participants{
    display: flex;
}

.project-participants-avatars{
    margin-left: 50px;
}

.project-participants img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #424244;
    margin-left: -15px;
    transition: transform 0.3s ease, z-index 0.3s ease;
  }

.project-participants img:hover {
    transform: scale(1.2);
    z-index: 1; 
}


.created-icon {
    width: 25px;  /* Szerokość ikonki */
    height: 25px; /* Wysokość ikonki */
    margin-right: 10px; /* Odstęp od tekstu */
    vertical-align: middle; /* Wyrównanie w pionie */
    border-radius: 100%; /* Zaokrąglenie ikony, aby cień był okrągły */
    box-shadow: 0 4px 30px rgba(83, 122, 213, 0.4); 
}

.completed-icon {
    width: 25px;  /* Szerokość ikonki */
    height: 25px; /* Wysokość ikonki */
    margin-right: 10px; /* Odstęp od tekstu */
    vertical-align: middle; /* Wyrównanie w pionie */
    border-radius: 100%; 
    box-shadow: 0 4px 20px rgba(157, 255, 135, 0.4); 
}


.in-progress-icon {
    width: 25px;  
    height: 25px; 
    margin-right: 10px; 
    vertical-align: middle; 
    border-radius: 50%; 
    box-shadow: 0 4px 20px rgba(233, 222, 95, 0.4); 
}


.upcoming-icon {
    width: 25px;  
    height: 25px; 
    margin-right: 10px; 
    vertical-align: middle; 
    border-radius: 50%; 
    box-shadow: 0 4px 20px rgba(190, 150, 235, 0.4); 
}

.progress-bar__container {
    width: 100%;
    height: 10px;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #7cebff;
  }
  
  .progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #6481cf;
    top:0;
    bottom: 0;
    left: -100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
  }
  
  .progress-bar__text {
    display: none;
  }

