/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(34, 34, 39);
}

/* Kontener z zadaniami */
.task-container {
    padding-top: 50px; 
    margin: 0 auto; 
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(34, 34, 39);
}

/* Nagłówek */
.header {
    display: block;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 90px;
    position: sticky; 
    top: 0;
}

.header h1 {
    color: #f5f4f3;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
}

.task-nav {
    margin-top: 10px; /* Gwarantuje, że nawigacja będzie tuż pod h1 */
    display: flex;
    gap:40px;
    margin-left: 40px;
}

.task-nav a {
    display: block; 
    text-decoration: none;
    color: #b0b0b0;
    margin: 5px 0;
    font-size: 13px;
    font-weight: bold;
    transition: color 0.3s;
    letter-spacing: 0.5px;
}

.header-divider{
    width: 100%;
    border-bottom: 1px solid #353536;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.layout {
    display: flex;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative; 
}

.task-list {
    flex: 1;
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: flex-start;  /* Wyśrodkowanie pionowe, jeśli potrzebne */
    gap: 18px; /* Odstęp między elementami */
    margin: 0 auto; /* Opcjonalne, aby kontener był wyśrodkowany */
    flex-wrap: wrap; /* Aby elementy przechodziły do nowego wiersza, jeśli nie mieszczą się w jednej linii */
    padding: 20px;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-list-title h2 {
    margin: 0;
}

.task-list-options {
    display: flex;
    align-items: center;  
}

.task-list-options img {
    width: 18px;
    height: 18px;
}

.tommorow-tasks, .this-week-tasks, .overdue-tasks, .today-tasks{
    display: flex; /* Włącz Flexbox */
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    justify-content: flex-start; /* Wyrównanie do góry */
    gap: 2px;
    background-color: rgb(35, 35, 39); /* Tło sekcji członków */
    padding: 10px;
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    width: 320px;
    max-height:78vh;
    height:auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.today-tasks h2{
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    padding: 10px;
    text-align: left;
    flex-grow: 1; 
}

.element-container{
    height: auto;
    width: 300px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
    position: relative;
}

.element-container, .tommorow-item, .this-week-item, .today-item, .overdue-item {
    transition: transform 0.3s ease; 
}

.element-container::-webkit-scrollbar {
    width: 8px; /* Szerokość paska przewijania w przeglądarkach WebKit */
}

.element-container::-webkit-scrollbar-track {
    background: transparent; 
}

.element-container::-webkit-scrollbar-thumb {
    background-color: #555; /* Kolor suwaka */
    border-radius: 20px; /* Zaokrąglenie */
}

.element-container::-webkit-scrollbar-corner {
    display: none !important;
}

.element-container::-webkit-scrollbar-button {
    display: none !important;
}

.no-tasks{
    text-align: center;
    font-family: 'Arial', sans-serif; /* Ustawienie czcionki */
    color: #b0b0b0; /* Kolor tekstu */
}

.no-tasks h2{
    margin: 0;
    font-size: 12px; 
    letter-spacing: 0.5px;
}

.tommorow-item, .this-week-item, .today-item, .overdue-item {
    display: flex;
    flex-direction: column; /* Ustaw elementy w kolumnie wewnątrz każdego bloku */
    align-items: center; /* Wyśrodkowanie zawartości w pionie */
    text-align: center;
    background-color: hsl(240, 5%, 15%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lekki cień dla estetyki */
    width: 280px; /* Stała szerokość każdego bloku */
    height: auto;
    border: 1px solid #424244;
    margin-bottom: 20px;
    cursor: pointer;
    transition: flex 0.3s ease;
}

.tommorow-item:hover, 
.this-week-item:hover, 
.today-item:hover, 
.overdue-item:hover {
    background-color: hsl(240, 5%, 18%); /* Subtelna zmiana tła */
    border-color: hsl(240, 5%, 35%); /* Delikatny kontrast bordera */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Silniejszy cień */
    transition: all 0.3s ease; /* Płynne przejście */
}

.tommorow-item:active, 
.this-week-item:active, 
.today-item:active, 
.overdue-item:active {
    background-color: hsl(240, 5%, 22%); /* Zmiana tła na ciemniejsze */
    border-color: hsl(240, 5%, 40%); /* Subtelny kontrast */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); /* Redukcja cienia */
    transition: all 0.2s ease-out; /* Płynne przejście */
}

.tommorow-item.selected, 
.this-week-item.selected, 
.today-item.selected, 
.overdue-item.selected  {
    background-color: hsl(240, 8%, 18%); /* Subtelnie ciemniejszy kolor tła */
    border-color: hsl(240, 8%, 35%); /* Subtelnie ciemniejszy border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Cień dla wybranego elementu */
    transition: all 0.3s ease; /* Płynne przejście */
}

.tommorow-tasks h2{
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    padding: 10px;
    text-align: left;
    flex-grow: 1; 
}

.this-week-tasks h2{
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    padding: 10px;
    text-align: left;
    flex-grow: 1; 
}

.overdue-tasks h2{
    font-size: 16px;
    color: #d0d0d0;
    margin: 0;
    padding: 10px;
    text-align: left;
    flex-grow: 1; 
}

.task-options{
    display: flex; /* Umożliwia łatwe rozmieszczenie zawartości w przyszłości */
    align-items: center; /* Wyrównanie obrazka w pionie */
}

.task-options img{
    width: 16px;
    height: 16px;
}

.task-header{
    display: flex; /* Ustawia elementy w jednej linii */
    justify-content: space-between; /* Opcje zadania po lewej, tytuł po prawej */
    align-items: center; 
    width: 100%;
}

.task-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-grow: 1;
    text-align:left; /* Wyśrodkowanie tekstu tytułu */
    margin-bottom: 5px; /* Odstęp poniżej tytułu */
    font-family: 'Arial', sans-serif; /* Ustawienie czcionki */
    color: #d0d0d0; /* Kolor tekstu */
}

.task-title h2{
    font-size: 15px; 
    font-weight: bold; 
    margin: 0;
}

.description{
    text-align:left; /* Wyśrodkowanie tekstu tytułu */
    margin-bottom: 5px; /* Odstęp poniżej tytułu */
    font-family: 'Arial', sans-serif; /* Ustawienie czcionki */
    color: #b0b0b0; /* Kolor tekstu */
    padding-left: 10px; 
}

.description p{
    font-size: 12px; 
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.activity-summary{
    display: flex; /* Ustawia elementy w jednej linii */
    justify-content: space-between; /* Rozdziela elementy: jeden po lewej, drugi po prawej */
    align-items: center; /* Wyrównuje elementy w pionie */
    width: 100%;
    padding: 10px 0; /* Dodaje odstęp w pionie */
}

.attachment{
    padding-left: 10px;
    display: flex; /* Ustawia elementy w jednej linii */
    align-items: center; /* Wyrównuje elementy w pionie */
    gap: 5px; 
    
}

.attachment img{
    width: 14px;
    height: 14px;

}

.attachment p{
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0;
}

.about-task-participants{
    display: flex;
    align-items: center; 
    position: relative;
}

.about-task-participants-avatars{
    margin-left: 50px;
    display: flex; 
    align-items: center;
}

.about-task-participants img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #424244;
    margin-left: -10px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.about-task-participants img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.about-task-more-participants{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #424244;
    margin-left: -10px;
    font-size: 11px;
    color: #424244;
    background-color: #d0d0d0;
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
}


.details-panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    transform: translateX(100%); 
    transition: transform 0.4s ease-in-out;
    
}

.details-panel.active {
    transform: translateX(0);
}

.layout.details-active .task-list {
    margin-right: 300px;
    flex: 0 0 calc(100% - 300px);
    transform: scale(0.96);  
}

.layout.details-active .details-panel {
    transform: none !important; 
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.details-panel.active {
    animation: slideIn 0.5s ease-in-out;
}

.details-panel:not(.active) {
    animation: slideOut 0.4s ease-in-out;
}



.details {
    position: fixed; /* Przypięcie do górnej części okna */
    top: 130px;
    right: 0; /* Lub left: 0, jeśli ma być po lewej stronie */
    width: 300px;
    height: 100vh;
    background: rgb(36, 36, 39);
    border-left: 1px solid #424244;
    margin: 0;
}

.details h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #ffffff;
}

.details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details ul li {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #d0d0d0;
}

.details ul li strong {
    color: #f5f4f3;
}

.close-panel {
    position: absolute; /* Ustawienie pozycji wewnątrz details-panel */
    top: 10px; /* Odległość od górnej krawędzi panelu */
    right: 10px; /* Odległość od prawej krawędzi panelu */
    background-color: transparent; /* Brak tła */
    border: none; /* Usunięcie domyślnej ramki */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    z-index: 100; /* Aby przycisk zawsze był na wierzchu */
    padding: 5px; /* Dodatkowa przestrzeń dla lepszego klikania */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animacja hovera */
}

.close-panel img{
    width: 16px;
    height: 16px;
}

.close-panel img:hover{
    transform: scale(1.2);
    opacity: 0.8;
    transition: transform 0.2s ease; 
}

.pm-avatar img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #424244;
}

.pm-avatar{
    display: flex;
}

.user-container {
    display: flex; /* Ustawia układ w rzędzie */
    flex-wrap: nowrap; /* Zapobiega zawijaniu wierszy */
    gap: 20px; /* Odstęp między użytkownikami */
    align-items: center; /* Wyrównanie w pionie */
    padding-bottom: 10px;
  }

  .manager-container {
    margin-top: 65px;
    padding-left: 20px;
  }

  .pm-info {
    display: flex;
    align-items: center;
    background: rgb(40, 40, 43);
    padding: 10px;
    border-radius: 10px; /* Zaokrąglone rogi */
    border: 1px solid #424244;
    width: 260px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pm-info h2{
    color:#f5f4f3;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
  }
  .pm-details {
    padding-top: 10px;
    display: flex;
    flex-direction: column; /* Ustawia h2 nad p */
    justify-content: center; /* Wyrównanie tekstu w pionie */
}
  .position p {
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
    font-size: 11px; 
    color: #b0b0b0;
    font-weight: 500; 
    padding-top: 2px;
}
