<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
</head>

<head>
    <title>Kalendarz Miesięczny</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <script src="{% static 'js/calendar.js' %}"></script>
</head>
<body>
<div class="calendar">
    <h2>Miesiąc: [[${month}]] / Rok: [[${year}]]</h2>
    <div class="navigation">
        <input type="date" id="datePicker" value="[[${year}}]-[[${month}]]-01"/>
        <button class="button" onclick="navigateToSelectedDate()">Wybierz Miesiąc</button>
        <button class="button"
                onclick="window.location.href='/calendar/week?date=' + new Date(currentYear, currentMonth - 1, 1).toISOString().split('T')[0]">
            Widok tygodnia
        </button>
    </div>
    <table>
        <thead>
        <tr>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="week : ${weeks}">
            <td th:each="day : ${week}"
                th:classappend="${day.monthValue != month ? 'other-month' : ''}">
                <div th:text="${day.dayOfMonth}"></div>
                <div th:each="task : ${tasksByDate.get(day)}">

                    <p th:text="${task.name}" style="color: blue;" class="popup-button"
                       onclick="openPopup(this)"
                       th:attr="data-task-name=${task.name},
                       data-task-description=${task.description},
                       data-task-date=${day.dayOfMonth + '.' + day.monthValue + '.' + day.year},
                       data-task-status=${task.status},data-task-user=${task.user},data-task-priority=${task.priority}">
                    </p>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="popup-overlay" id="popup" style="display: none;">
        <div class="popup-content">
            <p><strong>Nazwa:</strong> <span id="popup-task-name"></span></p>
            <p><strong>Opis:</strong> <span id="popup-task-description"></span></p>
            <p><strong>Data:</strong> <span id="popup-task-date"></span></p>
            <p><strong>Status:</strong> <span id="popup-task-status"></span></p>
            <p><strong>User:</strong> <span id="popup-task-priority"></span></p>

            <p><strong>User:</strong> <span id="popup-task-user"></span></p>

            <button class="close-button" onclick="closePopup()">Zamknij</button>
        </div>
    </div>
    <div class="navigation">
        <button class="button" onclick="navigate(-1)">Poprzedni</button>
        <button class="button" onclick="navigateToCurrent()">Aktualny</button>
        <button class="button" onclick="navigate(1)">Następny</button>

    </div>
</div>


</body>
</html>
