<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIGN UP</title>
  <script src="../static/js/signUp.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/signUp.css">
</head>
<body>
<div class="main">
  <div class="logo">
    <a href=""></a>
  </div>
</div>
<div class="wrapper">
<div class="photo-container">
  <img src="../static/images/bck.jpg" alt="">
</div>

<div class="signup-container">
  <form id="signupForm" action="/signup" method="post" th:action="@{/signup}">
    <h2>Create an account</h2>

    <div th:if="${error}">
      <p class="error" th:text="${error}"></p>
    </div>

    <div th:if="${success}">
      <p class="success" th:text="${success}"></p>
    </div>


    <div class="form-step" id="step1">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" th:required="required">

      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" th:required="required">



      <button type="submit">Sign up</button>
      <p>By clicking the “Sign up” button, you are creating a Freepik account and therefore you agree to Freepik
        Company’s Terms of Use and Privacy Policy. </p>
      <hr class="divider">

      <div class="btm-txt">
        <span class="inline-text">Already have an account? <a href="/logins" class="ca">Log in</a></span>
      </div>


    </div>

  </form>
</div>
</div>

</body>
</html>
