
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mainPageTeams.css' %}">
</head>
<body>
  <div class="header">
    <h1>Moje zespoły</h1>
    
    <div class="header-actions">
        <div class="create-team">
            <button type="button">Dołącz do zespołu lub utwórz nowy</button>
        </div> 
    </div>
</div>

<div class ="team-container">
  <div class ="team">
    <h2> Nazwa zespołu </h2>
  </div>
</div>
</body>
</html>
