

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
       
   
}

.navigation {
    margin-top: 20px;
    text-align: center;
}

.button {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    vertical-align: top;
}

.other-month {
    color: #aaa;
}

.popup-button {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.popup-overlay.show {
    display: flex;
    opacity: 1;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translate(0, 0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.popup-content.show {
    transform: translate(0, 0);
    opacity: 1;
}

.close-button {
    margin-top: 10px;
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.close-button:hover {
    background-color: darkred;
}

/* Responsive styles */
@media (max-width: 768px) {
    .calendar {
        width: 100%;
        padding: 15px;
    }

    .button {
        width: 100%;
        margin: 5px 0;
    }

    table {
        width: 100%;
    }

    .popup-content {
        width: 90%;
        max-width: 350px;
    }
}
