html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100%; 
}

.team-container {
padding-top: 50px; 
margin: 0 auto; 
width: 100%;
height: 100%;
overflow: hidden;
background-color: rgb(34, 34, 39);
}

.header {
  display: block;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 90px;
  position: sticky; 
  top: 0;
}

.header h1 {
color: #f5f4f3;
margin-left: 40px;
font-size: 20px;
font-weight: 300;
padding-top: 20px;
}

.team-nav {
margin-top: 10px; 
display: flex;
gap:40px;
margin-left: 40px;

}

.team-nav a {
display: block; 
text-decoration: none;
color: #b0b0b0;
margin: 5px 0;
font-size: 13px;
font-weight: bold;
transition: color 0.3s;
letter-spacing: 0.5px;
}

.header-divider{
width: 100%;
border-bottom: 1px solid #353536;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
}