{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/projects-board.css' %}">
    <script src="{% static 'js/projectsPanel.js' %}"></script>
    <script src="{% static 'js/scrollshadow.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="add-project-section">
        <button class="add-project">
            <div class="add-project-icon">
                <img src="../static/images/plus (1).svg" alt="Dodaj" class="icon">
            </div>
            <div class="add-project-span">
                <span>Dodaj projekt</span>
            </div>
        </button>
        </div>  
    <div class="layout">
    <div class="project-list">
        <div class="projects-in-progress">
            <div class="project-list-header">
                <div class="project-list-title">
                    <h2>W toku</h2>
                </div>
                <div class="project-list-options">
                    <img src="../static/images/more-horizontal.svg">
                </div>
            </div>
            <div class="project-scrollable">
            <div class="element-container">
            <div class="in-progress-item">
                <div class="project-header">
                    <div class="project-title">
                        <h2>Richard McClintock -a Latin...</h2>
                    </div>
                    <div class="project-options">
                        <img src="../static/images/more-vertical.svg">
                    </div>
                </div>
                <div class="description">
                    <p>Cicero's writings, particularly his works on ethics, have inspired countless scholars throughout history. His profound...</p>
                </div>
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>3</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person1.jpg">
                            <img src="../static/images/person2.jpg">
                            <img src="../static/images/person3.jpg">
                            <img src="../static/images/person4.jpg">
                            <div class="about-project-more-participants">+3</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Drugi element in-progress-item -->
            <div class="in-progress-item">
                <div class="project-header">
                    <div class="project-title">
                        <h2>Cicero's writings on ethics...</h2>
                    </div>
                    <div class="project-options">
                        <img src="../static/images/more-vertical.svg">
                    </div>
                </div>
                <div class="description">
                    <p>Cicero's writings, particularly his works on ethics, have inspired countless scholars throughout history. His profound...</p>
                </div>
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>5</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person5.jpg">
                            <img src="../static/images/person6.jpg">
                            <img src="../static/images/person7.jpg">
                            <div class="about-project-more-participants">+2</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Trzeci element in-progress-item -->
            <div class="in-progress-item">
                <div class="project-header">
                    <div class="project-title">
                        <h2>Exploring the origins of Ipsum...</h2>
                    </div>
                    <div class="project-options">
                        <img src="../static/images/more-vertical.svg">
                    </div>
                </div>
                <div class="description">
                    <p>Cicero's writings, particularly his works on ethics, have inspired countless scholars throughout history. His profound...</p>
                </div>
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>2</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person8.jpg">
                            <img src="../static/images/person9.jpg">
                            <div class="about-project-more-participants">+1</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Czwarty element in-progress-item -->
            <div class="in-progress-item">
                <div class="project-header">
                    <div class="project-title">
                        <h2>Modern adaptations of Ipsum...</h2>
                    </div>
                    <div class="project-options">
                        <img src="../static/images/more-vertical.svg">
                    </div>
                </div>
                <div class="description">
                    <p>Cicero's writings, particularly his works on ethics, have inspired countless scholars throughout history. His profound...</p>
                </div>
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>8</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person10.jpg">
                            <img src="../static/images/person11.jpg">
                            <div class="about-project-more-participants">+4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
                
                
        <div class="pending-projects">
            <div class="project-list-header">
                <div class= "project-list-title">
                    <h2>Oczekujące na rozpoczęcie</h2>
                </div>
            <div class="project-list-options">
                <img src="../static/images/more-horizontal.svg">
            </div>
        </div>
            <div class="pending-item">
                <div class ="project-header">
                <div class="project-title">
                    <h2>Richard McClintock -a Latin...</h2>
                </div>
                    <div class="project-options">
                        <img src="../static/images/more-vertical.svg">
                    </div>
            </div>
                <div class="description">
                    <p>CCicero's writings, particularly his works on ethics, have inspired countless scholars throughout history. His profound...</p>
                </div>
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>3</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person1.jpg">
                            <img src="../static/images/person2.jpg">
                            <img src="../static/images/person3.jpg">
                            <img src="../static/images/person4.jpg">
                            <div class="about-project-more-participants">+3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
            <div class="completed-projects">
                <div class="project-list-header">
                    <div class= "project-list-title">
                        <h2>Zakończone</h2>
                    </div>
                    <div class="project-list-options">
                        <img src="../static/images/more-horizontal.svg">
                    </div>
                </div>
                <div class="completed-item">
                    <div class ="project-header">
                        <div class="project-title">
                            <h2>Richard McClintock -a Latin...</h2>
                        </div>
                            <div class="project-options">
                                <img src="../static/images/more-vertical.svg">
                            </div>
                    </div>
                        <div class="description">
                            <p>Cicero's writings, particularly his works on ethics, have inspired countless scholars throughout history. His profound...</p>
                        </div>
                        <div class="activity-summary">
                            <div class="attachment">
                                <img src="../static/images/paperclip (1).svg">
                                <p>3</p>
                            </div>
                            <div class="about-project-participants">
                                <div class="about-project-participants-avatars">
                                    <img src="../static/images/person1.jpg">
                                    <img src="../static/images/person2.jpg">
                                    <img src="../static/images/person3.jpg">
                                    <img src="../static/images/person4.jpg">
                                    <div class="about-project-more-participants">+3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        <div class="at-risk-projects">
            <div class="project-list-header">
                <div class= "project-list-title">
                    <h2>Zagrożony</h2>
                </div>
                <div class="project-list-options">
                    <img src="../static/images/more-horizontal.svg">
                </div>
            </div>
            <!--zagrożone projekty
            <div class="at-risk-item">
            </div>
                -->  
                <div class ="no-projects">
                <h2>Brak projektów</h2>
                </div>
    </div>
    </div>
    <div id="details-panel" class="details-panel">
    <div class="details">
        <div class="close-panel">
            <img src="../static/images/x (2).svg">
        </div>
        <div class="manager-container">
            <div class="pm-info">
                <div class ="pm-avatar">
                    <img src="../static/images/person4.jpg">
                </div>
                <div class = "pm-details">
                <h2>Jan Jankowski</h2>
                <div class="user-container">
                    <div class="position">
                        <p>Menadżer projektu</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    <div class="project-details">
        <div class="start-date">
            <h2>Data rozpoczęcia <h2>
                <p>2024-01-01</p> 
            </div>
        <div class="deadline">
            <h2>Termin ukończenia</h2> 
                <p>2024-12-31</p>
        </div>
        <div class="project-status">
            <h2>Status</h2>
            <p>W toku</p>
        </div>
        <div class="priority">
            <h2>Priorytet</h2> 
            <p>Wysoki</p>
        </div>
        <div class="days-left">
            <h2>Pozostało dni</h2>
            <p> 120</p>
            </div>
        <div class="project-participants">
            <h2>Uczestnicy projektu</h2>
            <div class = "project-participants-avatars">
            <img src="../static/images/person1.jpg">
            <img src="../static/images/person2.jpg">
            <img src="../static/images/person3.jpg">
            <img src="../static/images/person4.jpg">
            </div>
        </div>
    </div>
    <div class ="divider"></div>
    <div class="project-statistics">
        <div class ="project-progress">
            <div class="progress-info">
            <h2>Postępy projektu </h2>
            <p>0% </p>
            </div>
            <div class="progress-bar__container">
                <div class="progress-bar">
                    <span class="progress-bar__text">Uploaded Successfully!</span>
                </div>
                </div>
            
        </div>
        <div class="created-tasks">
            <img src="{% static 'images/plus-circle.svg' %}"  class="created-icon">
            <h2>Stworzone zadania</h2>
            <p>34</p>
        </div>
        <div class="completed-tasks">
            <img src="{% static 'images/check-circle (6).svg' %}" class="completed-icon">
            <h2>Zakończone zadania</h2>
            <p>34</p>
        </div>
        <div class="tasks-in-progress">
            <img src="{% static 'images/alert-circle (3).svg' %}"  class="in-progress-icon">
            <h2>Zadania w toku</h2>
            <p>34</p>
        </div>
        <div class="upcoming-tasks">
            <img src="{% static 'images/clock (1).svg' %}"  class="upcoming-icon">
            <h2>Nadchodzące zadania</h2>
            <p>34</p>
        </div>
        <button>Przejdź do projektu </button>
    </div>                
    </div>
    </div>
    </div>
</body>
{% endblock %}