{% block extra_head %}
    {% load static %}
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/projects-widget.css' %}">
{% endblock %}
{% block content %}
    <div class="projects-container">
    <div class="projects small">
        <div class="projects-header">
            <div class="projects-title">
                <h2>Projekty</h2>
            </div>
            <div class="projects-options">
                <img src="{% static 'images/more-horizontal.svg' %}" id="projects-options-icon">
                <div id="projects-options-menu" class="hidden">
                    <ul>
                        <li><div id="projects-resize-small" class="resize-option">Pomniejsz</div></li>
                        <li><div id="projects-resize-full" class="resize-option">Pełny rozmiar</div></li>
                        <li><div id="projects-delete-widget" class="delete-widget">Usuń widżet</div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="add-project">
            <div class="add-project-icon">
                <img src="../static/images/plus.svg">
            </div>
            <div class="add-project-txt">
                <p>Utwórz projekt </p> 
            </div>
        </div>
    </div>
    </div>
</body>

{% endblock %}
