{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/teamPage.css' %}">
<script src="{% static 'js/newPost.js' %}"></script>
{% endblock %}

{% block content %}
<div class="team-container">
    <div class="side">
        <div class="show-all-teams">
            {% load static %}
            <img src="{% static 'images/chevron-left.svg' %}" class="arrow-left">
            <h2>Wszystkie zespoły</h2>
        </div>
        <img class="team-avatar" src="{{ group.group_images.url }}" alt="Avatar Image">
        <div class="name-of-team">
            <h3>{{group.name }}</h3>
        </div>
        <div class="members-container">
            <div class="members">
                <h2>Członkowie</h2>
                <div class="user-container">
                    <div class="first-user">
                        <div class="user"></div>
                        <div class="name">
                            <p>Jan Kowalski</p>
                        </div>
                    </div>
                    <div class="second-user">
                        <div class="user"></div>
                        <div class="name">
                            <p>Jan Kowalski</p>
                        </div>
                    </div>
                    <div class="third-user">
                        <div class="user"></div>
                        <div class="name">
                            <p>Jan Kowalski</p>
                        </div>
                    </div>
                    <div class="fourth-user">
                        <div class="user"></div>
                        <div class="name">
                            <p>Jan Kowalski</p>
                        </div>
                    </div>
                </div>
                <div class="all-members">
                    <p>Zobacz wszystkich członków</p>
                </div>
            </div>
        </div>
        <div class="projects-container">
            <div class="projects">
                <h2>Projekty</h2>
                <div class="projects-header">
                    <h2>Nazwa</h2>
                    <h2>Członkowie</h2>
                </div>
                <div class="project-details">
                    <div class="name-of-project">
                        <p>Projekt test</p>
                    </div>
                    <div class="project-user"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="feed-container">
        <div class="header">
            <h1>Ogólny</h1>
            <div class="header-actions">
                <h2>Wpisy</h2>
                <a href="/teams/{{ group.id }}/files">
                    <h2>Pliki</h2>
                </a>
                <a href="/teams/{{ group.id }}/info">
                    <h2>Info</h2>
                </a>
                 <a href="/teams/{{ group.id }}/platforms">
                    <h2>Platforms</h2>
                </a>
                <a href="/teams/{{ group.id }}/jira_user_match">
                    <h2>jira_user_match</h2>
                </a>
            </div>
        </div>
        <div class="feed-content">
            <!-- Formularz do dodawania postów -->
            <div class="post-form">
                <div id="new-post" contenteditable="true" class="editable" placeholder="Napisz coś...">
                    <div class="toolbar">
                        <div class="post-icons">
                            <button class="post-icon">📷</button>
                            <button class="post-icon">📁</button>
                        </div>
                    </div>
                </div>


                <!-- Sekcja wyświetlająca posty -->
                <div class="feed">

                    <div class="post">
                        <div class="post-user-container">
                            <div class="post-user-avatar"></div>
                            <div class="post-user-details">
                                <div class="post-user-name">
                                    <p>Jan Kowalski</p>
                                </div>
                                <div class="post-date">

                                </div>
                            </div>
                        </div>
                        <div class="post-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer
                                took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="post-reaction">
                            <p>Lubię to</p>
                            <p>Odpowiedz</p>
                        </div>

                        <div class="comments">
                            <div class="comment-form">
                                <div class="comment-user-container">
                                    <div class="comment-user-avatar"></div>
                                    <textarea placeholder="Napisz komentarz..." class="comment-input"></textarea>
                                </div>
                                <button class="submit-comment">Komentuj</button>
                            </div>
                            <div class="comment">
                                <p><strong>Jan Kowalski:</strong> Świetny post! :)</p>
                            </div>
                            <div class="comment">
                                <p><strong>Anna Nowak:</strong> Zgadzam się, bardzo interesujące.</p>
                            </div>
                        </div>
                        <!-- Więcej postów -->
                    </div>
                </div>
            </div>
        </div> <!-- Zamknięcie .team-container -->
    </div>
</div>
{% endblock %}

