
{% block extra_head %}
    {% load static %}
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reminder-widget.css' %}">
{% endblock %}
{% block content %}
    <div class ="reminder-container">
    <div class="reminder small">
        <div class="reminder-header">
            <div class="reminder-title">
                <h2>Przypomnienia</h2>
            </div>
            <div class="reminder-options">
                <img src="{% static 'images/more-horizontal.svg' %}" id="reminder-options-icon">
                <div id="reminder-options-menu" class="hidden">
                    <ul>
                        <li><div id="reminder-resize-small" class="resize-option">Pomniejsz</div></li>
                        <li><div id="reminder-resize-full" class="resize-option">Pełny rozmiar</div></li>
                        <li><div id="reminder-delete-widget" class="delete-widget">Usuń widżet</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
