{% load static %}
<div class="project-board">
    {% for project in projects %}
    <div class="project">
        <div class="project-header">
            <div class="project-title">
                <h2>{{ project.name }}</h2>
            </div>
        </div>
        <div class="project-progress">
            <div class="progress-bar__container">
                <div class="progress-bar" style="width: {{ project.progress }}%;"></div>
            </div>
            <div class="progress-info">
                <p>{{ project.progress }}%</p>
            </div>
        </div>
        <div class="activity-summary">
            <div class="attachment">
                <img src="{% static 'images/paperclip (1).svg' %}">
                <p>{{ project.attachments_count }}</p>
            </div>
            <div class="about-project-participants">
                <div class="about-project-participants-avatars">
                    {% for member in project.participants %}
                    <img src="{{ member.user.profile.profile_image.url }}" alt="{{ member.user}}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
