{% block content %}

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/activity-widget.css' %}">
</head>
<body>
    <div class="activity-container">
    <div class="activity small">
        <div class="activity-header">
            <div class="activity-title">
                <h2>Aktywność</h2>
            </div>
            <div class="activity-options">
                <img src="{% static 'images/more-horizontal.svg' %}" id="activity-options-icon">
                <div id="activity-options-menu" class="hidden">
                    <ul>
                        <li><div id="activity-resize-small" class="resize-option">Pomniejsz</div></li>
                        <li><div id="activity-resize-full" class="resize-option">Pełny rozmiar</div></li>
                        <li><div id="activity-delete-widget" class="delete-widget">Usuń widżet</div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="activity-board">
        
            
            
        </div>
        </div>
    </div>
    </div>
</body>

{% endblock %}
