{% extends 'base.html' %}

{% block content %}
<h2>Grupa: {{ group.name }}</h2>

<h3>Połączone platformy</h3>
<ul>
    {% if jira_config %}
        <li>
            <strong>Jira:</strong><br>
            URL: {{ jira_config.jira_url }}<br>
            Email: {{ jira_config.jira_email }}<br>
            <form method="post" action="{% url 'delete_jira_config' group.id %}">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć konfigurację Jira?');">Usuń</button>
            </form>
        </li>
    {% else %}
        <li>Brak połączonej konfiguracji Jira.</li>

<h3>Dodaj konfigurację platformy</h3>
<form method="post" action="{% url 'add_jira_config' group.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Dodaj konfigurację Jira</button>
</form>
    {% endif %}
</ul>

<hr>


<a href="{% url 'teamPage' group.id %}">Powrót do grupy</a>
{% endblock %}
