{% extends 'myapp/base.html' %}

{% block title %}Moje zadania{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <script src="{% static 'js/dragWidget.js' %}"></script>
    <script src="{% static 'js/widgetPanel.js' %}"></script>
    <script src="{% static 'js/sideOptionWidget.js' %}"></script>
    <script src="{% static 'js/reminderModal.js' %}"></script>
    <script src="{% static 'js/reminderDone.js' %}"></script> 
    <script src="{% static 'js/addDeletedWidget.js' %}"></script>
</head>
<body>
    
    <div class="home-container">
        <div class="home-scrollable">
            <div class="layout">
                <div class="home-content">
                    <div class="home-header">
                        <div class="current-date">
                            <h2>Piątek, 3 Stycznia</h2>
                        </div>
                        <div class="welcomer">
                            <h2>Dobry wieczór, Jan</h2>
                        </div>
                        <div class="home-bottom-header">
                            <div class="user-statistics">
                                <div id="statistics-options-menu" class="statistics-options">
                                    <select id="statistics-options-select" class="statistics-select">
                                        <option value="today">Dzisiaj</option>
                                        <option value="this-week">W tym tygodniu</option>
                                        <option value="this-month">W tym miesiącu</option>
                                    </select>
                                </div>
                                <div class="user-statistics-divider"></div>
                                <div class="completed-tasks">
                                    <div class="completed-tasks-icon">
                                        <img src="../static/images/check.svg" alt="Ukończone zadania">
                                    </div>
                                    <div class="quantity-of-tasks">
                                        <h2>1</h2>
                                    </div>
                                    <div class="task-label">
                                        <p>ukończonych zadań</p> 
                                    </div>
                                </div> 
                                <div class="to-do">
                                    <div class="to-do-icon">
                                        <img src="../static/images/clock (2).svg" alt="Zadania do wykonania">
                                    </div>
                                    <div class="quantity-of-tasks">
                                        <h2>1</h2>
                                    </div>
                                    <div class="task-label">
                                        <p>zadań do wykonania</p>
                                    </div>
                                </div>
                            </div>
                        
                        </div> <!-- Zamknięcie dla home-bottom-header -->
                        <div class="add-widget">
                            <button class="more-widgets">
                                <div class="more-widgets-icon">
                                    <img src="../static/images/plus (1).svg" alt="Dodaj" class="icon">
                                </div>
                                <div class="more-widgets-span">
                                    <span>Dodaj widżet</span>
                                </div>
                            </button>
                        </div>
                    </div> <!-- Zamknięcie dla home-header -->
                    
                    <div class="widgets">
                        <div id="dropzone1" class="dropzone">
                            <div class="widget" id="calendar" draggable="true">
                                {% include 'myapp/calendar-widget.html' %}
                            </div>
                        </div>
                        <div id="dropzone2" class="dropzone">
                            <div class="widget" id="reminder" draggable="true">
                                {% include 'myapp/reminder-widget.html' %}
                            </div>
                        </div>
                        <div id="dropzone3" class="dropzone">
                            <div class="widget" id="projects" draggable="true">
                                {% include 'myapp/projects-widget.html' %}
                            </div>
                        </div>
                        <div id="dropzone4" class="dropzone">
                            <div class="widget" id="task" draggable="true">
                                {% include 'myapp/tasks-widget.html' %}
                            </div>
                        </div>
                        <div id="dropzone5" class="dropzone">
                            <div class="widget" id="teams" draggable="true">
                                {% include 'myapp/teams-widget.html' %}
                            </div>
                        </div>
                        <div id="dropzone6" class="dropzone">
                            <div class="widget" id="activity" draggable="true">
                                {% include 'myapp/activity-widget.html' %}
                            </div>
                        </div>
                    </div> <!-- Zamknięcie dla widgets -->
                </div> <!-- Zamknięcie dla home-content -->
            </div> <!-- Zamknięcie dla layout -->
        </div> <!-- Zamknięcie dla home-scrollable -->

        <div id="widget-panel" class="widget-panel">
            <div class="widget-container">
                <div class="close-panel">
                    <img src="../static/images/x (2).svg" alt="Zamknij">
                </div>
                <div class="widget-management">
                    <div class="widget-panel-title">
                        <h2>Widżety</h2>
                    </div>
                    <div class="widget-panel-divider"></div>
                    <div class="panel-scrollable">
                        <div class="available-widgets">
                            <div class="calendar-widget-panel" style="background-image: url('../static/images/Kalendarz.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <div class="calendar-panel-header">
                                    <div class="calendar-widget-panel-title">
                                        <h2>Kalendarz</h2>
                                    </div>
                                    <div class="add-panel-widget">
                                        <div class="add-panel-widget icon">
                                            <img src="../static/images/plus (1).svg">
                                        </div>
                                        <div class="add-panel-txt">
                                            <h2>Dodaj</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="reminder-widget-panel" style="background-image: url('../static/images/Przypomnienia.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <div class="reminder-panel-header">
                                    <div class="reminder-widget-panel-title">
                                        <h2>Przypomnienia</h2>
                                    </div>
                                    <div class="add-panel-widget">
                                        <div class="add-panel-widget icon">
                                            <img src="../static/images/plus (1).svg">
                                        </div>
                                        <div class="add-panel-txt">
                                            <h2>Dodaj</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="tasks-widget-panel" style="background-image: url('../static/images/Zadania.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <div class="tasks-panel-header">
                                    <div class="tasks-widget-panel-title">
                                        <h2>Zadania</h2>
                                    </div>
                                    <div class="add-panel-widget">
                                        <div class="add-panel-widget icon">
                                            <img src="../static/images/plus (1).svg">
                                        </div>
                                        <div class="add-panel-txt">
                                            <h2>Dodaj</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="projects-widget-panel" style="background-image: url('../static/images/Projekty.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <div class="projects-panel-header">
                                    <div class="projects-widget-panel-title">
                                        <h2>Projekty</h2>
                                    </div>
                                    <div class="add-panel-widget">
                                        <div class="add-panel-widget icon">
                                            <img src="../static/images/plus (1).svg">
                                        </div>
                                        <div class="add-panel-txt">
                                            <h2>Dodaj</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="teams-widget-panel" style="background-image: url('../static/images/Zespoly.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <div class="teams-panel-header">
                                    <div class="teams-widget-panel-title">
                                        <h2>Zespoły</h2>
                                    </div>
                                    <div class="add-panel-widget">
                                        <div class="add-panel-widget icon">
                                            <img src="../static/images/plus (1).svg">
                                        </div>
                                        <div class="add-panel-txt">
                                            <h2>Dodaj</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="last-activity-widget-panel" style="background-image: url('../static/images/aktywnosc.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <div class="last-activity-panel-header">
                                    <div class="last-activity-widget-panel-title">
                                        <h2>Aktywność</h2>
                                    </div>
                                    <div class="add-panel-widget">
                                        <div class="add-panel-widget icon">
                                            <img src="../static/images/plus (1).svg">
                                        </div>
                                        <div class="add-panel-txt">
                                            <h2>Dodaj</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Zamknięcie dla widget-panel -->
    </div> <!-- Zamknięcie dla home-container -->
    

</body>
<div id="createReminderModal" class="modal">
    <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <h2>Utwórz przypomnienie</h2>
        <!-- Zawartość formularza modala -->
        <input type="text" id="reminder-title" placeholder="Tytuł przypomnienia">
        <button id="save-reminder">Zapisz przypomnienie</button>
    </div>
</div>
<div id="reminderDoneModal" class="modal">
    <div class="modal-content">
        <span class="close" id="close-modal">&times;</span>
        <h2>Czy chcesz oznaczyć te zadanie jako wykonane?</h2>
        <!-- Tutaj możesz dodać formularz lub inne elementy, które będą w modalu -->
        <form id="create-reminder-form">
            <button type="submit">Tak</button>
            <button type="submit">Nie</button>
        </form>
    </div>
</div>

</html>
{% endblock %}
