<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
    <script src="../static/js/signUp.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<div class="main">
    <div class="logo">
        <a href=""></a>
    </div>
</div>

<div class="wrapper">
    <div class="photo-container">
        <img src="../static/images/bck.jpg" alt="">
    </div>

    <div class="login-container">
        <div th:if="${session.id == null}">
            <form id="loginForm" action="/logins" method="post" th:action="@{/logins}">
                <h2>Log in</h2>

                <div th:if="${error}">
                    <p class="error" th:text="${error}"></p>
                </div>

                <div th:if="${success}">
                    <p class="success" th:text="${success}"></p>
                </div>

                <div class="form-step" id="step1">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" th:required="required">

                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" th:required="required">

                    <div class="checkbox-container">
                        <input type="checkbox" id="stayLoggedIn" name="stayLoggedIn">
                        <label for="stayLoggedIn">Stay logged in</label>
                    </div>

                    <button type="submit">Login</button>
                    <div class="up-txt">
                    <a href="/logins" class="ca">I forgot my password</a>
                    </div>
                    <hr class="divider">

                    <div class="btm-txt">
                        <span class="inline-text">Don’t you have an account? <a href="/signUp" class="ca">Sign up</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
