{% block content %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/calendar-months.css' %}">
    <script src="{% static 'js/calendarMonth.js' %}"></script>
    <script src="{% static 'js/calendarView.js' %}"></script>
</head>
<body>
    <div class="header-bottom">
        <div class="navigation">
            <div class="date">
                <h2 id="calendar-title">Miesiąc / Rok</h2>
            </div>
            <div class="prev-next-btns">
                <button class="button" id="btn-prev">
                    <img src="{% static 'images/left-calendar.svg' %}" alt="Poprzedni" class="icon">
                </button>
                <button class="button" id="btn-next">
                    <img src="{% static 'images/right-calendar.svg' %}" alt="Następny" class="icon">
                </button>
                <button class="button" id="btn-today">Dzisiaj</button>
            </div>
            <div class="view-switch">
                <select id="view-selector">
                    <option value="month">Miesiąc</option>
                    <option value="week">Tydzień</option>
                    <option value="day">Dzień</option>
                </select>
            </div>
        </div>
        
        
    </div>
    <table class="calendar-table">
        <thead class="calendar-header">
            <tr>
                <th class="day-sun">Pon.</th>
                <th class="day-mon">Wt.</th>
                <th class="day-tue">Śr.</th>
                <th class="day-wed">Czw.</th>
                <th class="day-thu">Pt.</th>
                <th class="day-fri">Sb.</th>
                <th class="day-sat">Ndz.</th>
            </tr>
        </thead>
        <tbody id="calendar-body">
            <!-- Dynamicznie generowane dni kalendarza -->
        </tbody>
    </table>
</div>
</body>
</html>
{% endblock %}
