{% extends 'myapp/base.html' %}

{% block title %}Projekt Test{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <script src="{% static 'js/checkbox.js' %}"></script>
    <script src="{% static 'js/progressBar.js' %}"></script>
    <script src="{% static 'js/editModal.js' %}"></script>
    <script src="{% static 'js/timelineTaskActivity.js' %}"></script>
    <script src="{% static 'js/dynamicLine.js' %}"></script>
    <title>Projekt Test</title>
</head>
<body>
    <div class="project-container">
        <div class="project-header">
            <h1>Richard McClintock</h1>
            <nav class="project-nav">
                <a href="#">Przegląd projektu</a>
                <a href="#">Zadania</a>
                <a href="#">Kalendarz</a>
                <a href="#">Pliki</a>
            </nav>
            <div class="header-divider"></div>
        </div>
        <div class="project-scrollable">
            <div class="main-content-project">
                <section class="project-information">
                    <div class="button-container">
                        <button class="share-link-button">
                            <img src="../static/images/link-2.svg" alt="Share Link">
                        </button>
                    </div>
                    <div class="project-description">
                        <div class="project-description-title">
                            <div class="edit-project">
                                <img src="../static/images/edit (1).svg" class="edit-icon" onclick="openModal()" alt="Edit">
                            </div>
                            <h2>Opis projektu</h2>
                        </div>
                        <div class="project-title">
                            <h2>Richard McClintock - a Latin professor</h2>
                        </div>
                        <div class="about-project">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                                more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                discovered the undoubtable source.</p>
                        </div>
                    </div>
                    <div class="attachments">
                        <div class="attachments-header">
                            <h2>Załączniki</h2>
                            <div class="files">
                                <div class="add-link">
                                    <img src="../static/images/plus.svg" alt="Add Attachment">
                                </div>
                                <div class="attachment"></div>
                            </div>
                        </div>
                    </div>
                    <div class="project-roles">
                        <div class="project-roles-title">
                            <h2>Role w projekcie</h2>
                        </div>
                        <div class="role-container">
                            <div class="add-user-container">
                                <div class="add-user">
                                    <img src="../static/images/plus.svg" alt="Add User">
                                </div>
                                <div class="add-user-txt">
                                    <p>Dodaj użytkownika</p>
                                </div>
                            </div>
                    
                            <!-- Użytkownik 1 -->
                            <div class="project-member">
                                <div class="user-info">
                                    <div class="collaborator-user-avatar">
                                        <img src="../static/images/person4.jpg" alt="User Avatar">
                                    </div>
                                    <div class="user-details">
                                        <h2>Jan Jankowski</h2>
                                        <div class="user-meta">
                                            <div class="user-position">
                                                <p>Menadżer projektu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="project-member">
                                <div class="user-info">
                                    <div class="collaborator-user-avatar">
                                        <img src="../static/images/person4.jpg" alt="User Avatar">
                                    </div>
                                    <div class="user-details">
                                        <h2>Jan Jankowski</h2>
                                        <div class="user-meta">
                                            <div class="user-position">
                                                <p>Menadżer projektu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="project-member">
                                <div class="user-info">
                                    <div class="collaborator-user-avatar">
                                        <img src="../static/images/person4.jpg" alt="User Avatar">
                                    </div>
                                    <div class="user-details">
                                        <h2>Jan Jankowski</h2>
                                        <div class="user-meta">
                                            <div class="user-position">
                                                <p>Menadżer projektu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="project-member">
                                <div class="user-info">
                                    <div class="collaborator-user-avatar">
                                        <img src="../static/images/person4.jpg" alt="User Avatar">
                                    </div>
                                    <div class="user-details">
                                        <h2>Jan Jankowski</h2>
                                        <div class="user-meta">
                                            <div class="user-position">
                                                <p>Menadżer projektu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                    
                            <!-- Użytkownik 2 (nowy) -->
                            <div class="project-member">
                                <div class="user-info">
                                    <div class="collaborator-user-avatar">
                                        <img src="../static/images/person5.jpg" alt="User Avatar">
                                    </div>
                                    <div class="user-details">
                                        <h2>Anna Nowak</h2>
                                        <div class="user-meta">
                                            <div class="user-position">
                                                <p>Frontend Developer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>

                    
                                        
                        <div class="timeline-container">
                            <div class="timeline-header">
                                <h2>Aktywność projektu</h2>
                            </div>
                            <div class="timeline">
                                <div class="timeline-event project-deadline">
                                    <div class="timeline-point">
                                        <img src="../static/images/calendar (3).svg">
                                    </div>
                                <div class ="project-deadline-info">
                                    <div class="action">
                                        <div class="deadline-of-project">
                                            <h2> 10 stycznia </h2>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                                
                                
                                
                                <div class="timeline-event task-creation task-creation-with-activity">
                                    <div class="timeline-point">
                                        <img src="../static/images/plus (3).svg">
                                    </div>
                                    <div class="timeline-line"></div>
                                    <div class="task-creation-info">
                                        <div class="user-action">
                                            <div class="user-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="action">
                                            <div class="type-of-action">
                                                <h2>utworzył(a) zadanie</h2>
                                            </div>
                                            <div class="name-of-task">
                                                <h2>Analiza wymagań</h2>
                                            </div>
                                            <div class="place-of-action">
                                                <h2>w projekcie</h2>
                                            </div>
                                            <div class="name-of-project">
                                                <h2>Super Projekt</h2>
                                            </div>
                                        </div>
                                        <div class="action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="task-activity">
                                    <div class="expand-tasks">
                                        <div class="expand-tasks-icon">
                                            <img src="../static/images/chevron-down (3).svg">
                                        </div>
                                        <div class="expand-tasks-info">
                                            <h2>Pokaż aktywność zadania</h2>
                                        </div>
                                    </div>
                                <div class="hidden-tasks">
                                <div class="timeline-task-event task-deadline">
                                    <div class="timeline-point-task">
                                        <img src="../static/images/calendar (4).svg">
                                    </div>
                                    <div class="task-extended-deadline-info">
                                        <div class="user-extended-action">
                                            <div class="user-extended-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-extended-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action">
                                            <div class="extended-type-of-action">
                                                <h2>zmienił(a) termin zadania</h2 >
                                            </div>
                                            <div class="extended-name-of-task">
                                                <h2>Analiza wymagań</h2>
                                            </div>
                                            <div class="extended-change-of-deadline">
                                                <h2>na 2025-01-15</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-task-event task-deadline">
                                    <div class="timeline-point-task">
                                        <img src="../static/images/calendar (4).svg">
                                    </div>
                                    <div class="task-extended-deadline-info">
                                        <div class="user-extended-action">
                                            <div class="user-extended-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-extended-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action">
                                            <div class="extended-type-of-action">
                                                <h2>zmienił(a) termin zadania</h2 >
                                            </div>
                                            <div class="extended-name-of-task">
                                                <h2>Analiza wymagań</h2>
                                            </div>
                                            <div class="extended-change-of-deadline">
                                                <h2>na 2025-01-15</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-task-event task-deadline">
                                    <div class="timeline-point-task">
                                        <img src="../static/images/calendar (4).svg">
                                    </div>
                                    <div class="task-extended-deadline-info">
                                        <div class="user-extended-action">
                                            <div class="user-extended-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-extended-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action">
                                            <div class="extended-type-of-action">
                                                <h2>zmienił(a) termin zadania</h2 >
                                            </div>
                                            <div class="extended-name-of-task">
                                                <h2>Analiza wymagań</h2>
                                            </div>
                                            <div class="extended-change-of-deadline">
                                                <h2>na 2025-01-15</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-task-event task-deadline">
                                    <div class="timeline-point-task">
                                        <img src="../static/images/calendar (4).svg">
                                    </div>
                                    <div class="task-extended-deadline-info">
                                        <div class="user-extended-action">
                                            <div class="user-extended-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-extended-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action">
                                            <div class="extended-type-of-action">
                                                <h2>zmienił(a) termin zadania</h2 >
                                            </div>
                                            <div class="extended-name-of-task">
                                                <h2>Analiza wymagań</h2>
                                            </div>
                                            <div class="extended-change-of-deadline">
                                                <h2>na 2025-01-15</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="timeline-task-event task-deadline">
                                    <div class="timeline-point-task">
                                        <img src="../static/images/calendar (4).svg">
                                    </div>
                                    <div class="task-extended-deadline-info">
                                        <div class="user-extended-action">
                                            <div class="user-extended-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-extended-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action">
                                            <div class="extended-type-of-action">
                                                <h2>zmienił(a) termin zadania</h2 >
                                            </div>
                                            <div class="extended-name-of-task">
                                                <h2>Analiza wymagań</h2>
                                            </div>
                                            <div class="extended-change-of-deadline">
                                                <h2>na 2025-01-15</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-task-event task-deadline">
                                    <div class="timeline-point-task">
                                        <img src="../static/images/calendar (4).svg">
                                    </div>
                                    <div class="task-extended-deadline-info">
                                        <div class="user-extended-action">
                                            <div class="user-extended-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-extended-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action">
                                            <div class="extended-type-of-action">
                                                <h2>zmienił(a) termin zadania</h2 >
                                            </div>
                                            <div class="extended-name-of-task">
                                                <h2>Analiza wymagań</h2>
                                            </div>
                                            <div class="extended-change-of-deadline">
                                                <h2>na 2025-01-15</h2>
                                            </div>
                                        </div>
                                        <div class="extended-action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                              
                                
                            </div>
                        </div>
                                <div class="timeline-event task-creation">
                                    <div class="timeline-point">
                                        <img src="../static/images/plus (2).svg">
                                    </div>
                                    <div class="timeline-line"></div>
                                    <div class="task-creation-info">
                                        <div class="user-action">
                                            <div class="user-action-avatar">
                                            <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="action">
                                            <div class="type-of-action">
                                                <h2>utworzył(a) zadanie</h2 >
                                            </div>
                                            <div class="name-of-task">
                                                <h2>Analiza wymagań</h2>
                                            </div>
                                            <div class="place-of-action">
                                                <h2>w projekcie</h2>
                                            </div>
                                            <div class="name-of-project">
                                                <h2>Super Projekt</h2>
                                            </div>
                                        </div>
                                        <div class="action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="timeline-event user-addition">
                                    <div class="timeline-point">
                                        <img src="../static/images/user-plus.svg">
                                    </div>
                                    <div class="user-addition-info">
                                        <div class="user-action">
                                            <div class="user-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-action-name">
                                                <h2>Anna Nowak</h2>
                                            </div>
                                        </div>
                                        <div class="action">
                                            <div class="type-of-action">
                                                <h2>dodał(a) użytkownika</h2 >
                                            </div>
                                            <div class="action-on-the-user">
                                                <div class="action-on-the-user-avatar">
                                                    <img src="../static/images/person4.jpg">
                                                </div>
                                                <div class="action-on-the-user-name">
                                                    <h2>Piotr Zawada</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="timeline-event project-creation">
                                    <div class="timeline-point">
                                        <img src="../static/images/clipboard.svg">
                                    </div>
                                    <div class="project-creation-info">
                                        <div class="user-action">
                                            <div class="user-action-avatar">
                                                <img src="../static/images/person4.jpg">
                                            </div>
                                            <div class="user-action-name">
                                                <h2>Jan Kowalski</h2>
                                            </div>
                                        </div>
                                        <div class="action">
                                            <div class="type-of-action">
                                                <h2>utworzył(a) projekt</h2 >
                                            </div>
                                            <div class="name-of-project">
                                                <h2>Richard McClintock</h2>
                                            </div>
                                        </div>
                                        <div class="action-date">
                                            <p>Wczoraj</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="details">
                    <div class="manager-container">
                        <div class="pm-info">
                            <div class="pm-avatar">
                                <img src="../static/images/person4.jpg" alt="Manager Avatar">
                            </div>
                            <div class="pm-details">
                                <h2>Jan Jankowski</h2>
                                <div class="user-container">
                                    <div class="position">
                                        <p>Menadżer projektu</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details">
                        <div class="start-date">
                            <h2>Data rozpoczęcia</h2>
                            <p>13 stycznia</p>
                        </div>
                        <div class="deadline">
                            <h2>Termin ukończenia</h2>
                            <p>30 stycznia</p>
                        </div>
                        <div class="project-status">
                            <h2>Status</h2>
                            <p>W toku</p>
                        </div>
                        <div class="priority">
                            <h2>Priorytet</h2>
                            <p>Wysoki</p>
                        </div>
                        <div class="days-left">
                            <h2>Pozostało dni</h2>
                            <p>120</p>
                        </div>
                        <div class="project-participants">
                            <h2>Uczestnicy projektu</h2>
                            <div class="project-participants-avatars">
                                <img src="../static/images/person1.jpg" alt="Participant 1">
                                <img src="../static/images/person2.jpg" alt="Participant 2">
                                <img src="../static/images/person3.jpg" alt="Participant 3">
                                <img src="../static/images/person4.jpg" alt="Participant 4">
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="project-statistics">
                        <div class="project-progress">
                            <div class="progress-info">
                                <h2>Postępy projektu</h2>
                                <p>0%</p>
                            </div>
                            <div class="progress-bar__container">
                                <div class="progress-bar">
                                    <span class="progress-bar__text">Uploaded Successfully!</span>
                                </div>
                            </div>
                        </div>
                        <div class="created-tasks">
                            <img src="{% static 'images/plus-circle.svg' %}" class="created-icon" alt="Created Tasks">
                            <h2>Stworzone zadania</h2>
                            <p>34</p>
                        </div>
                        <div class="completed-tasks">
                            <img src="{% static 'images/check-circle (6).svg' %}" class="completed-icon" alt="Completed Tasks">
                            <h2>Zakończone zadania</h2>
                            <p>34</p>
                        </div>
                        <div class="tasks-in-progress">
                            <img src="{% static 'images/alert-circle (3).svg' %}" class="in-progress-icon" alt="Tasks in Progress">
                            <h2>Zadania w toku</h2>
                            <p>34</p>
                        </div>
                        <div class="upcoming-tasks">
                            <img src="{% static 'images/clock (1).svg' %}" class="upcoming-icon" alt="Upcoming Tasks">
                            <h2>Oczekujące na rozpoczęcie</h2>
                            <p>34</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-overlay" class="modal-overlay" onclick="closeModal()"></div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <h2>Edytuj projekt</h2>
            <p>Tu możesz wprowadzić zmiany w projekcie.</p>
            <div class="edit-title-of-project"></div>
            <div class="edit-description-of-project"></div>
            <div class="edit-end-date-of-project"></div>
            <button onclick="closeModal()">Odrzuć</button>
            <button onclick="closeModal()">Zapisz zmiany</button>
        </div>
    </div>
</body>
</html>
{% endblock %}
