{% block content %}

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/projects-widget.css' %}">
</head>
<body>
    <div class="projects-container">
    <div class="projects small">
        <div class="projects-header">
            <div class="header-left">
            <div class="projects-title">
                <h2>Projekty</h2>
            </div>
            <div id="project-options-menu" class="project-options">
                <select id="project-options-select" class="project-select">
                    <option value="today">W toku</option>
                    <option value="this-week">Oczekujące na rozpoczęcie</option>
                    <option value="this-month">Zagrożone</option>
                    <option value="this-month">Zakończone</option>
                </select>
            </div>
            </div>
            <div class="header-right">
            <div id="create-project-section">
                <button class="add-project">
                    <div class="add-project-icon">
                        <img src="../static/images/plus (1).svg" alt="Dodaj" class="icon">
                    </div>
                    <div class="add-project-span">
                        <span>Utwórz projekt</span>
                    </div>
                </button>
            </div>
            <div class="projects-options">
                <img src="{% static 'images/more-horizontal.svg' %}" id="projects-options-icon">
                <div id="projects-options-menu" class="hidden">
                    <ul>
                        <li><div id="projects-resize-small" class="resize-option">Pomniejsz</div></li>
                        <li><div id="projects-resize-full" class="resize-option">Pełny rozmiar</div></li>
                        <li><div id="projects-delete-widget" class="delete-widget">Usuń widżet</div></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        
        <div class="project-scrollable">   
        <div class="project-board">
          
            <div class="project">
                <div class="project-header">
                    <div class="project-title">
                        <h2>Cicero's writings on ethics...</h2>
                    </div>
                </div>
                <div class="project-progress">
                    <div class="progress-bar__container">
                        <div class="progress-bar"></div>
                    </div>
                    <div class="progress-info">
                        <p>0%</p>
                    </div>
                </div>
                <div class="project-information">

                </div>
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>5</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person1.jpg">
                            <img src="../static/images/person2.jpg">
                            <img src="../static/images/person3.jpg">
                            <div class="about-project-more-participants">+2</div>
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="project">
                <div class="project-header">
                    <div class="project-title">
                        <h2>Cicero's writings on ethics...</h2>
                    </div>
                </div>
                <div class="project-progress">
                    <div class="progress-bar__container">
                        <div class="progress-bar"></div>
                    </div>
                    <div class="progress-info">
                        <p>0%</p>
                    </div>
                </div>
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>5</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person1.jpg">
                            <img src="../static/images/person2.jpg">
                            <img src="../static/images/person3.jpg">
                            <div class="about-project-more-participants">+2</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project">
                <div class="project-header">
                    <div class="project-title">
                        <h2>Cicero's writings on ethics...</h2>
                    </div>
                </div>
                
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>5</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person1.jpg">
                            <img src="../static/images/person2.jpg">
                            <img src="../static/images/person3.jpg">
                            <div class="about-project-more-participants">+2</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project">
                <div class="project-header">
                    <div class="project-title">
                        <h2>Cicero's writings on ethics...</h2>
                    </div>
                </div>
                
                <div class="activity-summary">
                    <div class="attachment">
                        <img src="../static/images/paperclip (1).svg">
                        <p>5</p>
                    </div>
                    <div class="about-project-participants">
                        <div class="about-project-participants-avatars">
                            <img src="../static/images/person1.jpg">
                            <img src="../static/images/person2.jpg">
                            <img src="../static/images/person3.jpg">
                            <div class="about-project-more-participants">+2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    </div>
</body>

{% endblock %}
