{% block content %}

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reminder-widget.css' %}">
</head>
<body>
<div class="reminder-list">
    <ul>
        <li class="reminder-item reminder-with-date">
            <div class="reminder-list-container">
                <img src="{% static 'images/check (1).svg' %}" alt="Dodaj" class="start-reminder-icon">
                <label for="reminder-1" class="reminder-label">Przygotować raport na spotkanie</label>
            </div>
            <span class="reminder-date">Jutro</span>
        </li>
        <li class="reminder-item reminder-with-date">
            <div class="reminder-list-container">
                <img src="{% static 'images/check (1).svg' %}" alt="Dodaj" class="start-reminder-icon">
                <label for="reminder-2" class="reminder-label">Zaktualizować dokumentację projektu</label>
            </div>
            <span class="reminder-date">Pojutrze</span>
        </li>
        <li class="reminder-item reminder-with-date">
            <div class="reminder-list-container">
                <img src="{% static 'images/check (1).svg' %}" alt="Dodaj" class="start-reminder-icon">
                <label for="reminder-3" class="reminder-label">Wysłać e-mail do klienta</label>
            </div>
            <span class="reminder-date">Za 2 dni</span>
        </li>
    </ul>
</div>
</body>

{% endblock %}