{% block content %}

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/tasks-widget.css' %}">
    <script src="{% static 'js/taskWidgetNav.js' %}"></script>
</head>
<body>
    <div class="tasks-container">
        <div class="tasks small">
            <div class="tasks-header">
                <div class="tasks-title">
                    <h2>Zadania</h2>
                </div>
                <div class="tasks-options">
                    <img src="{% static 'images/more-horizontal.svg' %}" id="tasks-options-icon">
                    <div id="tasks-options-menu" class="hidden">
                        <ul>
                            <li><div id="tasks-resize-small" class="resize-option">Pomniejsz</div></li>
                            <li><div id="tasks-resize-full" class="resize-option">Pełny rozmiar</div></li>
                            <li><div id="tasks-delete-widget" class="delete-widget">Usuń widżet</div></li>
                        </ul>
                    </div>
                </div> 
            </div>
            <nav class="task-nav">
                <a role="button" id="to-do" class="active">Nadchodzące</a>
                <a role="button" id="in-progress">W trakcie</a>
                <a role="button" id="overdue">Zaległe</a>
                <a role="button" id="completed">Ukończone</a>
            </nav>
            <div class = "task-content" id ="task-content">

            </div>
            
             
        </div>
    </div>
</body>

{% endblock %}
