<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/teamPage.css' %}">
  <script src="{% static 'js/newPost.js' %}"></script>
</head>
<body>
  <div class="team-container">
    <div class="side">
      <div class="show-all-teams">
        {% load static %}
        <img src="{% static 'images/chevron-left.svg' %}" class="arrow-left">
        <h2>Wszystkie zespoły</h2>
      </div>
      <div class="team-avatar"></div>
      <div class="name-of-team">
        <h3>Team Name</h3>
      </div>
      <div class="members-container">
        <div class="members">
          <h2>Członkowie</h2>
          <div class="user-container">
            <div class ="first-user">
            <div class="user"></div>
            <div class="name">
              <p>Jan Kowalski</p>
            </div>
          </div>
          <div class ="second-user">
          <div class="user"></div>
            <div class="name">
              <p>Jan Kowalski</p>
            </div>
          </div>
          <div class ="third-user">
            <div class="user"></div>
              <div class="name">
                <p>Jan Kowalski</p>
              </div>
            </div>
            <div class ="fourth-user">
              <div class="user"></div>
                <div class="name">
                  <p>Jan Kowalski</p>
                </div>
              </div>
          </div>
          <div class="all-members">
            <p>Zobacz wszystkich członków</p>
          </div>
        </div>
      </div>
      <div class="projects-container">
        <div class="projects">
          <h2>Projekty</h2>
          <div class="projects-header">
            <h2>Nazwa</h2>
            <h2>Członkowie</h2>
          </div>
          <div class="project-details">
            <div class="name-of-project">
              <p>Projekt test</p>
            </div>
            <div class="project-user"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="feed-container">
      <div class="header">
        <h1>Ogólny</h1>
        <div class="header-actions">
          <h2>Wpisy</h2>
          <h2>Pliki</h2>
        </div>
      </div>
      <div class ="main-container">
        {% include 'myapp/feed.html' %}
  </div> <!-- Zamknięcie .team-container -->
</body>
</html>
